@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Cinzel", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-color {
  background-color: #e2ece9;
}

.hero {
  padding-top: 350px;
  padding-bottom: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #e2ece9;
  width: 100%;
  animation: slidein 2s;
  box-shadow: 10px 0px 10px #49ae97;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #49ae97;
  font-size: 20px;
}

.heading {
  margin: 0 0 20px;
  max-width: 400px;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #49ae97;
}

.animate {
  animation: 2s slidein;
}

.text {
  margin: 0;
  color: #49ae97;
  text-align: center;
  font-size: 22px;
}

.main {
  padding-top: 100px;
  padding-bottom: 150px;
}

.main-heading {
  margin-bottom: 50px;
  font-size: 45px;
}

.main-text {
  margin-bottom: 70px;
  max-width: 800px;
  color: #afcac2;
}

.tech-items-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 20px;
}

.portfolio-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.fab {
  color: #49ae97;
  font-size: 50px;
  margin-bottom: 20px;
}

.fa-linkedin {
  margin: 0;
}

.fas {
  color: #49ae97;
  font-size: 50px;
}

.small {
  font-size: 30px;
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
}

.url {
  text-decoration: underline;
  margin-bottom: 50px;
}

footer {
  background-color: #e2ece9;
  padding-top: 100px;
  padding-bottom: 20px;
}

footer p.text {
  margin-bottom: 50px;
  font-size: 30px;
}

.footer-text {
  font-size: 15px;
  color: #49ae97;
  font-weight: bold;
}

.footer-holder {
  flex-direction: row;
  justify-content: space-around;
  max-width: 150px;
  width: 100%;
  margin-bottom: 70px;
}

/* Animations */
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
