@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Cinzel", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-color {
  background-color: #e2ece9;
}

.hero {
  padding-top: 250px;
  padding-bottom: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  max-width: 130px;
  width: 100%;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.heading {
  margin: 0 0 20px;
  max-width: 400px;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #49ae97;
}

.animate {
  animation: 2s slidein;
}

.text {
  margin: 0;
  color: #49ae97;
  text-align: center;
  font-size: 22px;
}

.main {
  padding-top: 100px;
  padding-bottom: 150px;
}

.main-heading {
  margin-bottom: 50px;
  font-size: 45px;
}

.main-text {
  margin-bottom: 70px;
  max-width: 800px;
  color: #afcac2;
}

.tech-items-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 20px;
}

.portfolio-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.fab {
  color: #49ae97;
  font-size: 50px;
  margin-bottom: 20px;
}

.fa-linkedin {
  margin: 0;
}

.fas {
  color: #49ae97;
  font-size: 50px;
}

.small {
  font-size: 30px;
}

/* Animations */
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
